@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 
		hover:bg-gray-600/10 border border-gray-800 text-white;
  }
}

.scroll-container {
  overflow: hidden;
  overflow-y: scroll; /* Enable vertical scrolling */
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;  /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Edge */
}
